
body {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	color: #333;
}

div.inner {
	margin: 0 auto;
	width: 1024px;
	height: auto;
}

div.head {
	top: 0px;
	position: relative;
	height: 260px;
	width: 100%;
	background-color: #19A3FF;
	color: #fff;
	float: left;
	display: block;
	font-size: 2em;
}

.slogan {
	position: relative;
	margin-top: -80px;
	margin-left: 20px;
	font-size: 0.75em;
	font-weight: 200;
	float: left;
}


div.content {
	position: relative;
	float: left;
	width: 100%;
	min-height: 400px;
	padding: 40px 0px 40px 0px;
}

pre {
	position: relative;
	font-size: 0.75em;
	text-indent: 0px;
	float: left;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;
	background-color: #eef;
}

div.foot {
	position: relative;
	float: left;
	background-color: #0F1929;
	height: 180px;
	padding: 40px 0px 20px 0px;
	width: 100%;
	color: #9ab;
}

div.foot a {
	color: #9ab;
	text-decoration: none;
}

div.foot a:hover {
	color: #fff;
	text-decoration: underline;
}