
body {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	color: #333;
}

a {
	color: #19A3FF;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

hr {
	color: #dee;
	border: none;
	border-top: 1px dashed #aaa;
	margin: 40px 0 40px 0;
}

div.inner {
	margin: 0 auto;
	width: 1024px;
	height: auto;
}

div.head {
	top: 0px;
	position: relative;
	height: 260px;
	width: 100%;
	background-color: #19A3FF;
	color: #fff;
	float: left;
	display: block;
	font-size: 2em;
}

div.head h1 {
	position: relative;
	display: block;
	margin-bottom: 0px;
}

.slogan {
	position: relative;
<<<<<<< HEAD
	margin-top: -80px;
	margin-left: 0px;
=======
	margin-top: -25px;
	margin-left: 20px;
>>>>>>> origin/master
	font-size: 0.75em;
	font-weight: 200;
	float: left;
}


div.content {
	position: relative;
	float: left;
	width: 100%;
	min-height: 500px;
	padding: 40px 0px 40px 0px;
	display: block;
	background-color: #fff;
}

pre {
	position: relative;
	font-size: 0.75em;
	text-indent: 0px;
	float: left;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;
	background-color: #eef;
}

div.foot {
	position: relative;
	float: left;
	background-color: #0F1929;
	height: 180px;
	padding: 40px 0px 20px 0px;
	width: 100%;
	color: #9ab;
}

div.parallax {
	padding: 5px;
	background-color: #19A3FF;
	width: 250px;
	color: #fff;
	text-align: center;
	float: left;
}

div.parallax-bar {
	padding: 5px;
	background-color: #dee;
	width: 100%;
	color: #fff;
	float: left;
	clear: left;
}

div.foot a {
	color: #9ab;
	text-decoration: none;
}

div.foot a:hover {
	color: #fff;
	text-decoration: underline;
}